extends base
block navbar
  +nav("Passport Auth Example ", "dropdown_menu")
    +nav_item( "index.html", "active" ) Home
    +nav_item( "login.html" ) Login
    +nav_item( "newaccount.html" ) New Account
block content
  p This is the child's content
