extends base
block navbar
  +nav("Passport Auth Example ", "dropdown_menu")
    +nav_item( "index.html" ) Home
    +nav_item( "login.html", "active" ) Login
    +nav_item( "newaccount.html" ) New Account
block content
  if message
    .alert.alert-danger(role="alert")!= message
  form(action='/auth/login',method='post')
    .form-group
      label(for=username) Email Address
      input(type='email', class='form-control', name='username', placeholder='Enter Email')
    .form-group
      label(for=password) Password
      input(type='password', class='form-control', name='password', placeholder='Password')
    button(type='submit', class='btn btn-default') Submit
