extends base
block navbar
  +nav("Passport Auth Example ", "dropdown_menu")
    +nav_item( "index.html"  ) Home
    +nav_item( "logout.html", "active" ) Logout
block content
 form(action='/auth/logout',method='get') 
 button(type='submit', class='btn btn-default') Logout
